I learned the deficiencys of learning childrens to speak, write and read well in my language Romanian
I worked 7 years with patience for the childrens deficiencys of learning
Thanks ... Georgia Adela Berta
